html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  background: #0f0e17 url(../public/bg.png) repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #ff8906;
}

hr {
  margin-top: 5px;
  margin-bottom: 20px;
}

.gap {
  opacity: 0;
}

blockquote {
  font-style: italic;
  margin: 20px;
}