.homeContainer {
  background: #fffffe;
  color: #000;
  border: 3px solid #000;
  padding: 50px;
}

.homeContainer__title,
.homeContainer__subtitle {
  margin-bottom: 5px;
}

.homeContainer__titleYellow {
  display: inline-block;
  padding: 20px;
  border: 3px solid #000;
  background: #ff8906;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.homeContainer__small {
  font-size: .8em;
}

.homeContainer__list {
  list-style-type: none;
}

.portraitContainer {
  width: 150px;
  height: 150px;
  background: url(../public/me.png) no-repeat center center;
  background-size: cover;
  border: 3px solid #000;
}

.portraitContainer img {
  border-radius: 50%;
}

.blockquote__author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blockquote__authorImg {
  margin-right: 10px;
  border-radius: 50%;
}

.blockquote__authorName {
  margin-left: 10px;
  font-size: .8em;
  display: block;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

/* mobile */
@media (min-width: 320px) and (max-width: 480px) {

  .homeContainer {
    padding: 20px;
  }

}