.homeContainer {
  background: #fffffe;
  color: #000;
  border: 3px solid #000;
  padding: 50px;
}

.homeContainer__title,
.homeContainer__subtitle {
  margin-bottom: 5px;
}

.homeContainer__skillsTitleContainer,
.homeContainer__languageTitleContainer,
.homeContainer__experienceTitleContainer,
.homeContainer__academicsTitleContainer {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 1px solid #000;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  color: #fff;
}

.homeContainer__skillsTitleContainer {
  background: url(../public/code.jpg) no-repeat center center;
  background-size: cover;
}

.homeContainer__languageTitleContainer {
  background: url(../public/languages.jpg) no-repeat center center;
  background-size: cover;
}

.homeContainer__experienceTitleContainer {
  background: url(../public/experience.jpg) no-repeat center center;
  background-size: cover;
}

.homeContainer__academicsTitleContainer {
  background: url(../public/academics.jpg) no-repeat center center;
  background-size: cover;
  background-position: 10% 10%;
}

.homeContainer__pageTitle {
  position: relative;
  z-index: 10;
}

.homeContainer__small {
  font-size: .8em;
  margin-bottom: 0;
}

.homeContainer h4 {
  margin-top: 20px;
}

.homeContainer__list {
  list-style-type: none;
}

.portraitContainer {
  width: 150px;
  height: 150px;
  background: url(../public/me.png) no-repeat center center;
  background-size: cover;
  border: 3px solid #000;
}

.portraitContainer img {
  border-radius: 50%;
}

.blockquote__author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blockquote__authorImg {
  margin-right: 10px;
  border-radius: 50%;
}

.blockquote__authorName {
  margin-left: 10px;
  font-size: .8em;
  display: block;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.homeContainer__icons {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2em;
}

.homeContainer__icons a {
  display: flex;
}

/* mobile */
@media (min-width: 320px) and (max-width: 480px) {

  .homeContainer {
    padding: 20px;
  }

}